<ul>
    <li>
        <span class="ctaContext"><a href="/#/login" class="loginLink">Login</a></span>
    </li>
    <li>
        <span class="ctaContext"><a href="/#/register" class="registerLink">Register</a></span>
    </li>
    <li>
        <span class="ctaContext"><a href="/#/create" class="createLink">Start</a> a new coop</span>
    </li>
    <li>
        <span class="ctaContext">Join an existing coop</span>
        <div><span class="ctaContext"><a href="/#/browse" class="browseLink">Browse</a></span></div>
        <div><input type="search" name="quickGroupSearch" value="" id="quickGroupSearchInput" placeholder="Coop name"></div>
    </li>
</ul>