<a href="/#/">&laquo; back...</a>

<h2>Login</h2>

<form>
    <fieldset>
        <ul>
            <li>
                <label for="username">Username</label>
                <input type="" name="username" id="username" required autofocus>
            </li>
            <li>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required pattern="^.{8,}" title="Minimum 8 characters">
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Done!</legend>
        <ul>
            <li>
                <input type="submit" value="Sign up!" /> 
            </li>
        </ul>
    </fieldset>
</form>

<ul>
    <li>
        <span class="ctaContext"><a href="/#/register" class="registerLink">Register</a></span>
    </li>
</ul>